.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.page-item {
  display: flex;
  justify-content: space-between;
  color: #323874;
  margin-left: 12px;
  background: #e2e2ea;
}

.page-btn {
  width: 20px !important;
  height: 20px !important;
}
.pagination > button {
  width: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: rgb(233, 243, 243);
}
.page-btn-back {
  color: #000 !important;
}
.page-btn-next {
  color: #fff !important;
}
.pagination > button:nth-child(2) {
  background-color: #323874;
  margin-left: 5px;
}
@media screen and (max-width: 600px) {
  .pagination {
    display: block;
    margin: 10px auto;
  }
}
